* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar start */
header{
    position: sticky;
    top: 0;
}
#click {
    display: none;
}
#cart{
    color: black;
}
#login{
    color: black;
}
nav label {
    /* display: none; */
    /* margin-top: 30px; */

}
.navbar {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    /* position: fixed; */
    width: 100%;
}
.navbar img {
    width: 170px;
    height: 50px;
    margin-top: 20px;
}
.navbar ul {
    display: flex;
    list-style: none;
}
.navbar ul li {
    margin: 20px;
    padding: 20px;
    
}
.navbar ul li a {
    text-decoration: none;
    font-size: 18px;

}
.navbar ul li a:hover {
    color: skyblue;
}

/* #cart {
   margin-top: 40px;
} */

/* Navbar end here */

/* hero start */
#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.hero-image {
    /* background: url(/images/hero.jpg) no-repeat center center/cover;
    height:500px;
    width: 400px;
    margin-left: 800px; */

    

}
.hero-content {
    font-size: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 100px;
    width: fit-content;
    /* margin-top: 0px; */
    margin-bottom:  80px;
    /* opacity: 0.8; */

}
#hero button {
    background-color: rgb(28, 17, 17) ;
    color: white;
    height: 45px;
    width: 250px;
    font-size: 21px;
    /* opacity: 1; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}







/* Service section */
.service {
    display: flex;
    justify-content: space-around;
    height: 30vh;
    margin-top: 150px;
    text-align: center;
}

.service1 {
    font-size: 17px;

}
.service1 h1 {
    font-family: 'Times New Roman', Times, serif;
    opacity: 0.8;
}
.service p {
    opacity: 0.6;
}
.service2 {
    font-size: 30px;
    margin-left: 30px;
    color: skyblue;

}


/* Products */

.products {
    height: 100vh;

}
.productsh1 {
    margin-top: 90px;
    margin-left: 50px;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0.8;
}

.products {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 30px;
    
    
}
.products img {
    /* justify-items: flex-start; */
}

.products p {
    font-size: 25px;
    margin-top: 10px;
}





/* Smart watches */


.watchesh1 {
    margin-left: 50px;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0.8;
}
.watches {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
}
.watches p {
    margin-top: 20px;
    font-size: 23px ;
}





/* SALE */


.sale1 {
    position: relative;
    
}

.sale2 p {
    margin-left: 60px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    position: absolute;
    top: 0;
    margin-top: 150px;
    
}
.sale3 {
    margin-left: 60px;
    font-size: 55px;
    font-family:'Times New Roman', Times, serif;
    display: block;
    position: absolute;
    top: 0;
    margin-top: 150px;
    
}


.sale4 {
    margin-left: 10px;
    display: flex;
    /* text-align: center; */
    /* height: 100vh; */
    /* align-items: center; */
    /* position: relative; */
    /* height: auto; */
    /* top: 0; */

    
}
.sale1 button {
    background-color: black;
    color: white;
    height: 40px;
    width: 170px;
    opacity: 0.85;


}



/*BLOG SECTION  */

.blog {
    height: 90vh;
    justify-content: space-around;
    display:flex;
    position: sticky;
    text-align: center;

}

.blog1 {
    margin-top: 100px;
}
.blog1 h1 {
    padding-bottom: 20px;
    text-align: left;
    font-size: 25px;
}
.blog1 p {
    text-align: left;
    padding-top: 10px;
    opacity: 0.7;
    font-size: 15px;

}
.blog1 h2 {
    opacity: 0.8;
    font-size: 19px;
    text-align: left;
}

.blog2 {
    margin-top: 150px;
}
.blog2 p {
    text-align: left;
    padding-top: 10px;
    opacity: 0.7;
    font-size: 15px;
    padding-left: 15px;

}
.blog2 h2 {
    opacity: 0.8;
    font-size: 19px;
    text-align: left;
    padding-left: 15px;
}

.blog3 {
    margin-top: 150px;
}
.blog3 p {
    text-align: left;
    padding-top: 10px;
    opacity: 0.7;
    font-size: 15px;
}
.blog3 h2 {
    opacity: 0.8;
    font-size: 19px;
    text-align: left;
}



/* Quotes */

.quotes {
    background-color: black;
    height: 20vh;
    top: 0;

}


.quotes1 {
    background-color: black;
    margin-left: 550px;
    /* margin-top: 280px; */
    font-size: 30px;
    border: none;
    color: #f4f4f4;

}
.quotes2 {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    box-sizing: 30px;
    

}



/* Footer */

/* .footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;

}
.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 800;
    font-size: 30px;
}

.icons {
    color: black;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0 ;
    font-size: 30px;
    justify-content: space-between;

} */

.footer {
    display: flex;
    text-align: left;
    height: 40vh;
    justify-content: space-around;
    margin-top: 90px;

}

.footer1 p {
       opacity: 0.7;
}

.footer2 i {
    font-size: 25px;
    opacity: 0.7;
    padding: 2px 10px 2px 2px ;

}
.footer2 i:hover {
    color: skyblue;
    opacity: 0.7;
}
.footer3 {
    font-size: 18px;
}

.footer4 {
    font-size: 13px;
}
.footer4 p:hover {
    color: skyblue;
}

.footer5 {
    font-size:18px ;
} 

.footer6 {
    font-size: 13px;
}
.footer6 p:hover {
    color: skyblue;
}
#foot {
    margin-right: 155px;
    font-size: 18px;
}
.footer8 {
    opacity: 0.6;
    font-size: 16px;
}
.footer9 {
    padding-top: 10px;
    padding-right: 120px;
}

.footer9:hover {
    color: skyblue;
}

.footer10 {
    opacity: 0.6;

}
.footer11 {
    padding-top: 10px;
    padding-right: 155px;
}
.footer11:hover {
    color: skyblue;
}

#foot1 {
    opacity: 0.6;
    color: black;

}
/* FOOTER 2  */

.footer2-0 {
    height: 15vh;
    display: flex;
    justify-content: space-around;
}

.footer2-1 {
    display: flex;
    padding-top: 20px;
    opacity: 0.8;

}
#foot2-1 {
    font-size: 45px ;
    /* padding-bottom: 100px; */

}
.footer2-2 {
    opacity: 0.8;
    display: flex;
    padding-top: 20px;
}
#foot2-2 {
    font-size: 28px;
}

#foot2-3 {
    font-size: 28px;
    padding-left: 5px;
    
}

.footer2-3 {
    display: block;
}
.footer2-33 {
    padding-top: 20px;
    display: flex;
    opacity: 0.8;
}

#footer2-4 {
    padding-left: 5px;
}
#footer2-4:hover {
    color: skyblue;
}

.footer2-4 {
    display: flex;
    opacity: 0.8;
}

#footer2-5 {
    padding-left: 5px;
}
#footer2-5:hover {
    color: skyblue;
}


























































@media screen and (max-width:768px){
    .navbar ul {
        flex-direction: column;
        position: absolute;
        top: 80px;
        background-color: #f4f4f4;
        right: 0;
        width: 100%;
        display: none;
    }
    
    .navbar{
        position: fixed;
    }
  .hero-image{
    margin-top: 20%;
    font-size: 40px;
  }
  .hero-content{
    margin-top: 20%;
  }
 
}

#click:checked ~ .navbar ul {
    display: block;
}


